@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-ul {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 26%, rgba(245, 247, 255, 1) 26%);
}

ul.grid-cols-custom {
  display: grid;
  grid-template-columns: 302px 489.5px;
  gap: 12px; /* Встановлює відступи між колонками */
}